li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.app-wrapper{
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 2px;
  grid-template-areas:
  "header header"
  "sidebar content"
  ;
}

.content{
  width: 100%;
  grid-area: content;
  background-color: #2E3034;
}